/* profile */
.profile {
    margin: 20px;
}

#profile-headline {
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-headline p {
    font-size: 40px;
    text-align: center;;
}

#profile-headline img {
    width: 60px;
    height: 60px;
}

#profile-border{
    display: flex;
    border: solid;
}

#profile-border ul{
    list-style: none;
}
#profile-border img {
    width: 244px;
    height: 322px;
    margin: 70px 20px 20px 20px;
}

/* hobby */
.skill{
    margin: 20px;
}

#skill-headline {
    display: flex;
    align-items: center;
    justify-content: center;
}

#skill-headline p {
    font-size: 40px;
    text-align: center;
}

#skill-headline img {
    width: 60px;
    height: 60px;
}

#skill-border {
    border: solid;
}

#skill-border h1 {
    text-align: center;
}

#language {
    display: flex;
    justify-content: center;
    align-items: center;
}

#language img {
    margin: 30px;
}

#language img {
    width: 48px;
    height: 48px;
}



