/* profile */
.profile {
    margin: 20px;
}

#profile-headline {
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-headline p {
    font-size: 40px;
    text-align: center;;
}

#profile-headline {
    font-family: "Nico Moji";
}
#profile-headline img {
    width: 60px;
    height: 60px;
}

#profile-border{
    display: flex;
    border: solid;
}

#profile-border ul{
    list-style: none;
}
#profile-border img {
    width: 244px;
    height: 322px;
    margin: 70px 20px 20px 20px;
}

/* production */
.production{
    margin: 20px;
    text-align: center;
    
}

#production-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#production-headline p {
    font-size: 40px;
    text-align: center;
}

#production-headline h1 {
    font-family: "Nico Moji";
}

#production-headline img {
    width: 60px;
    height: 60px;
}

#production-border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -40px;
    margin-top: 30px;
}

#detail img {
    width: 100%;
    height: 100%;
}

.production #detail{
    border: 1px solid #cec5c5;
    margin-right: 40px;
    
}

.production h2 {
    font-family: "Nico Moji";
}

/* ボタン */
#btn a {
    background: #eee;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    margin-bottom: 20px;
}
#btn a:hover {
    background: #313131;
    color: #FFF;
}
#btn a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
#btn a:hover:after {
    border-color: #FFF;
}

.future-prespects {
    margin: 20px;
}

#future-prospects-headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#future-prospects-headline h1{
    font-family: "Nico Moji";
}

#future-prospects-headline img {
    width: 60px;
    height: 60px;
}

#future-prospects-border {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-001 {
    list-style-type: disc;
    padding: 1em 1em 1em 2.5em;
    border: 2px solid #6cb39d;
    width: 60%;
}

.list-001 li {
    padding: .3em .3em .3em 0;
    list-style: none;
}

/* footer */
